@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Carreras Udla</h1>

    <img src="images.jpeg"
         alt="Imagen de un gocart"
         width="400"
         height="341" />
</div>
